@font-face {
  font-family: 'Deja Vu';
  src: url('./fonts/vtks_Deja_Vu.ttf');
}
@font-face {
  font-family: 'Nightmares';
  src: url('./fonts/nightmares.ttf');
}
@font-face {
  font-family: 'Green Pillow';
  src: url('./fonts/greenpill.ttf');
}
@font-face {
  font-family: 'Precious';
  src: url('./fonts/precious.ttf');
}
@font-face {
  font-family: 'Dear Love';
  src: url('./fonts/vtks_dear_love.ttf');
}
@font-face {
  font-family: 'Confetti Stream';
  src: url('./fonts/Confetti Stream.ttf');
}
@font-face {
  font-family: 'Mona Shark';
  src: url('./fonts/Mona Shark.ttf');
}
@font-face {
  font-family: 'Something Strange';
  src: url('./fonts/Something Strange.ttf');
}
@font-face {
  font-family: 'Friday Night Lights';
  src: url('./fonts/FNL_DEMO-KCFonts.ttf');
}

.frequency-0{
font-size: 12px;
}
.frequency-1{
font-size: 14px;
}
.frequency-2{
font-size: 16px;
}
.frequency-3{
font-size: 18px;
}
.frequency-4{
font-size: 20px;
}
.frequency-5{
font-size: 22px;
}
.frequency-6{
font-size: 24px;
}
.frequency-7{
font-size: 26px;
}
.frequency-8{
font-size: 28px;
}
.frequency-9{
font-size: 30px;
}
.frequency-10{
font-size: 32px;
}
.frequency-11{
font-size: 34px;
}
.frequency-12{
font-size: 36px;
}
.frequency-13{
font-size: 38px;
}
.frequency-14{
font-size: 40px;
}
.frequency-15{
font-size: 42px;
}
.frequency-16{
font-size: 44px;
}
.frequency-17{
font-size: 46px;
}
.frequency-18{
font-size: 48px;
}
.frequency-19{
font-size: 50px;
}
.frequency-20{
font-size: 52px;
}
.frequency-21{
font-size: 54px;
}
.frequency-22{
font-size: 56px;
}
.frequency-23{
font-size: 58px;
}
.frequency-24{
font-size: 60px;
}
.frequency-25{
font-size: 62px;
}
.frequency-26{
font-size: 64px;
}
.frequency-27{
font-size: 66px;
}
.frequency-28{
font-size: 68px;
}
.frequency-29{
font-size: 70px;
}
.frequency-30{
font-size: 72px;
}
.frequency-31{
font-size: 74px;
}
.frequency-32{
font-size: 76px;
}
.frequency-33{
font-size: 78px;
}
.frequency-34{
font-size: 80px;
}
.frequency-35{
font-size: 82px;
}
.frequency-36{
font-size: 84px;
}
.frequency-37{
font-size: 86px;
}
.frequency-38{
font-size: 88px;
}
.frequency-39{
font-size: 90px;
}
.frequency-40{
font-size: 92px;
}
.frequency-41{
font-size: 94px;
}
.frequency-42{
font-size: 96px;
}
.frequency-43{
font-size: 98px;
}
.frequency-44{
font-size: 100px;
}
.frequency-45{
font-size: 102px;
}
.frequency-46{
font-size: 104px;
}
.frequency-47{
font-size: 106px;
}
.frequency-48{
font-size: 108px;
}
.frequency-49{
font-size: 110px;
}
.frequency-50{
font-size: 112px;
}
.frequency-51{
font-size: 114px;
}
.frequency-52{
font-size: 116px;
}
.frequency-53{
font-size: 118px;
}
.frequency-54{
font-size: 120px;
}
.frequency-55{
font-size: 122px;
}
.frequency-56{
font-size: 124px;
}
.frequency-57{
font-size: 126px;
}
.frequency-58{
font-size: 128px;
}
.frequency-59{
font-size: 130px;
}
.frequency-60{
font-size: 132px;
}
.frequency-61{
font-size: 134px;
}
.frequency-62{
font-size: 136px;
}
.frequency-63{
font-size: 138px;
}
.frequency-64{
font-size: 140px;
}
.frequency-65{
font-size: 142px;
}
.frequency-66{
font-size: 144px;
}
.frequency-67{
font-size: 146px;
}
.frequency-68{
font-size: 148px;
}
.frequency-69{
font-size: 150px;
}
.frequency-70{
font-size: 152px;
}
.frequency-71{
font-size: 154px;
}
.frequency-72{
font-size: 156px;
}
.frequency-73{
font-size: 158px;
}
.frequency-74{
font-size: 160px;
}
.frequency-75{
font-size: 162px;
}
.frequency-76{
font-size: 164px;
}
.frequency-77{
font-size: 166px;
}
.frequency-78{
font-size: 168px;
}
.frequency-79{
font-size: 170px;
}
.frequency-80{
font-size: 172px;
}
.frequency-81{
font-size: 174px;
}
.frequency-82{
font-size: 176px;
}
.frequency-83{
font-size: 178px;
}
.frequency-84{
font-size: 180px;
}
.frequency-85{
font-size: 182px;
}
.frequency-86{
font-size: 184px;
}
.frequency-87{
font-size: 186px;
}
.frequency-88{
font-size: 188px;
}
.frequency-89{
font-size: 190px;
}
.frequency-90{
font-size: 192px;
}
.frequency-91{
font-size: 194px;
}
.frequency-92{
font-size: 196px;
}
.frequency-93{
font-size: 198px;
}
.frequency-94{
font-size: 200px;
}
.frequency-95{
font-size: 202px;
}
.frequency-96{
font-size: 204px;
}
.frequency-97{
font-size: 206px;
}
.frequency-98{
font-size: 208px;
}
.frequency-99{
font-size: 210px;
}
.frequency-100{
font-size: 212px;
}
